:root
{
    --margin-top: auto;
}

*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color:lightgrey;
}  
.div
{
    box-sizing: border-box;
    margin: var(--margin-top) auto;
    text-align: center;
}
.text
{
    box-sizing: border-box;
    display: inline-block;
    color: rgb(54, 49, 49);
    font-size: 80px;
    text-shadow: 3px 4px 5px rgb(103, 106, 109);
    transition-delay: 1s;
}
p:hover
{
    color: lightgrey;
    transition: all 1s linear;
}
